<p id="notice"><%= notice %></p>

<p>
  <b>Filename:</b>
  <%= @thumb.filename %>
</p>

<p>
  <b>Image type:</b>
  <%= @thumb.image_type %>
</p>

<p>
  <b>Binary data:</b>
  <%= @thumb.binary_data %>
</p>


<%= link_to 'Edit', edit_thumb_path(@thumb) %> |
<%= link_to 'Back', thumbs_path %>
