<!DOCTYPE html>
<html>
<head>
  <title>LarkspurArabians</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="frame">
    <div id="header">
      <%= render :partial => "/shared/menu_bar" %>
    </div>

    <div id="content">
      <%= yield %>
    </div>
  </div>

</body>
</html>
